html,body{
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#root label{
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
#root input{
    border: 1px solid grey;
    font-weight: bold;
    display: block;
    font-size: 1.35rem;
    max-width: 300px;
    margin-top: 15px;
}
#root button{
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    margin-top: 15px;
    display: block;
    font-weight: bold;
    background: #2196f3;
    opacity: 0.75;
    border: none;
    color: white;
    width: 125px;
    height: 50px;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
#root button:hover{
    transform: translate(0, 1px);
    opacity: 0.85;
}
#root button:active{
    transform: translate(0, 2px);
    opacity: 1;
}
#answer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background: #6ec6ff;
    text-align: center;
    width: 200px;
    height: 80px;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
#answer.hide {
    visibility: hidden;
}
.help-icon {
    width: 16px;
    position: relative;
}
.help {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 200px;
    bottom: 120%;
    left: 50%;
    margin-left: -100px;
    font-size: 12px;
    text-align: center;
}
.help-icon:hover .help {
    visibility: visible;
}
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: black;
}


@media (max-width: 750px) {
    body{
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    body{
        font-size: 14px;
    }
}
